@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-color: rgb(242, 255, 128);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif !important;
}
.cap{
    display: flex;
    align-items: center;
    height: max-content;
    border: 2px solid red;
    text-align: center;
    font-size: 1.3rem;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 8px;
    border-radius: 20px;
    transition: all 0.3s;
}
.cap img{
    height: 80px;
}
td,tr,th{
    padding: 0 10px;
    width: 12%;
}
table{
margin-top: 5px;
width: 100%;
text-align: center;
font-weight: bolder;
}
p{
border: 2px solid red;
text-align: center;
font-size: 1.3rem;
background-color: rgba(255, 255, 255, 0.7);
padding: 8px;
border-radius: 20px;
transition: all 0.3s;
cursor: pointer;
}
.b p{
background-color: rgba(0, 0, 0, 0.7);
color: white;
}
p:hover{
    background-color: rgb(0, 255, 0);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
}

/* tr:nth-child(even){
background-color: rgba(0, 255, 64, 0.7) ;
color: rgb(0, 0, 0);
}
tr:nth-child(odd){
background-color: rgba(255, 0, 34, 0.7);
color: rgb(0, 0, 0);
}
tr:nth-child(even):hover{
background-color:rgba(140, 0, 255, 0.7);
color: rgb(0, 0, 0);
}
tr:nth-child(odd):hover{
background-color: rgba(0, 4, 255, 0.7);
color: rgb(0, 0, 0);
} */

@media screen and (max-width: 1080px) {
    
    table {
        transform:  scale(0.7);
    }
    
}
@media screen and (max-width: 820px) {
    
    table {
        transform: scale(0.6);
    }
    
}
@media screen and (max-width: 700px) {
    
    table {
        transform: scale(0.5);
    }
    
}
@media screen and (max-width: 550px) {
    .cap{
        margin-top: 15px;
    }
    table {
        margin: 5px;
        transform: rotate(90deg) scale(0.4);
    }
    
}
